@import "tailwindcss";

:root {
  --background: #2b3441;
  --foreground: #f1f3f5;
  --color-nav: #18222f;
  --color-card: #47566a;
  --color-card-hover: #4f5e74;
  --color-accent: #0084d4;
  --color-accent-hover: #009fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav: var(--color-nav);
  --color-card: var(--color-card);
  --color-card-hover: var(--color-card-hover);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .icon {
    @apply text-xl;
  }

  .button {
    @apply block w-full px-4 py-2 font-bold tracking-wider text-center transition-colors rounded text-foreground bg-accent hover:bg-accent-hover hover:no-underline;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  form {
    @apply p-4 rounded-xl;
  }
  label {
    @apply mt-4;
  }
  input,
  select,
  textarea {
    @apply p-1 m-1 rounded bg-card;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
